*{margin: 0; padding: 0; box-sizing: border-box;}
body{
  background-color: #fa9191;
  font-family: sans-serif;
  font-weight: bold;
}

div{
  width: 600px;
  height: 105px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{
  padding: 30px 0;
}
